/* You can add global styles to this file, and also import other style files */
@use '../node_modules/@angular/material' as mat;
@use '../node_modules/@angular/material-experimental/index' as matx;


html {
  @include mat.core();
  $theme: mat.define-theme((
          color: (
                  theme-type: light,
                  primary: mat.$yellow-palette
          ),
          typography: (
                  brand-family: 'Comic Sans',
                  bold-weight: 900
          ),
          density: (scale: -4)
  ));
  @include mat.all-component-themes($theme);

  .test-component {
    margin: 10px;
  }
}